@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");
@import "./tokens.scss";

html,
body {
  margin: 0;
  padding: 30px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-background-default;
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 45vw bottom 45vh, 45vw 45vh;
  font-family: $text-default-font-family;
  color: $text-default-color;
  font-size: $text-default-font-size;
}

.profile-card {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  padding: 0 0 30px 0;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;

  &--header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-image: url("./images/bg-pattern-card.svg");
  }
  &--pic {
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    top: 50%;
  }
  &--name {
    margin: 80px 0 0 0;
  }
  &--age {
    color: $text-secondary-color;
    margin-left: 1ex;
  }
  &--location {
    margin-top: 10px;
    font-family: $text-secondary-font-family;
    color: $text-secondary-color;
  }

  &--footer {
    margin-top: 15px;
    display: flex;
    flex-direction: row;

    .col {
      width: 33%;
      margin: 0;
      .num {
        font-weight: 900;
      }
      .unit {
        color: $text-secondary-color;
        font-size: 1ex;
      }
    }
  }
}
.split-line {
  width: 100%;
  border: 0;
  border-top: 1px dashed $text-secondary-color;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: $md-device) {
  .card-profile {
    display: flex;
    margin: auto;
    max-width: 500px;
  }
}
