$sm-device: 375px;
$md-device: 1440px;

/** Colors */ 
// Primary
$color-primary-a: hsl(185, 75%, 39%); //Dark cyan:
$color-primary-b: hsl(229, 23%, 23%); //Very dark desaturated blue
$color-primary-c: hsl(227, 10%, 46%); //Dark grayish blue

// Neutral
$color-neutral:hsl(0, 0%, 59%); //Dark gray:

$color-background-default: $color-primary-a;
/* Typography*/
//### Body Copy
$text-default-color: $color-primary-b;
$text-secondary-color: $color-neutral;
$text-default-font-size: 18px;
$text-default-font-family: 'Kumbh Sans', "Consolas";
$text-secondary-font-family: 'Kumbh Sans', sans-serif;